In [4]:
import pandas as pd
file_name = "https://people.sc.fsu.edu/~jburkardt/data/csv/homes.csv"
df = pd.read_csv(file_name)

In [5]:
df.head()

,Sell,"""List""","""Living""","""Rooms""","""Beds""","""Baths""","""Age""","""Acres""","""Taxes"""
0,142,160,28,10,5,3,60,0.28,3167
1,175,180,18,8,4,1,12,0.43,4033
2,129,132,13,6,3,1,41,0.33,1471
3,138,140,17,7,3,1,22,0.46,3204
4,232,240,25,8,4,3,5,2.05,3613

In [6]:
df.shape

(50, 9)

In [7]:
df.count()

Sell         50
 "List"      50
 "Living"    50
 "Rooms"     50
 "Beds"      50
 "Baths"     50
 "Age"       50
 "Acres"     50
 "Taxes"     50
dtype: int64

In [8]:
len(df.index)

50

In [9]:
len(df.columns)

9

In [10]:
len(df.axes[0])

50

In [11]:
len(df.axes[1])

9

In [19]:
len(df)

50